// COLORS
$red_clr:red;
$blue_clr:blue;
$green_clr:green;
$yellow_clr:yellow;
$orange_clr:orange;
$purple_clr:purple;
$pink_clr:pink;
$brown_clr:brown;
$gray_clr:gray;
$black_clr:black;
$white_clr:white;
$aqua_clr: aqua;
$footer-bg_clr: #333;
$footer-txt_clr: #fff;
$footer-link-hover_color: #fff;

//HEXA_COLOR AND RGB COLOR CODE
$login_Color:rgba(0, 0, 0, 0.75);
$login_input_placeholder : #8c8c8c;

//BACKGROUND-IMAGES
$login_Bg_Image: url("../assests/pexels-maxime-francis-2246476.jpg");
$signUp_Bg_Image: url("../assests/pexels-fauxels-3183197.jpg");
//HOME PAGE
$home_Bg_Image: url("../assests/pexels-mohamed-almari-1485894.jpg");

