@media only screen and (max-width: 1163px) {
    .loginInSection
{
  .logoContainer
  {
    min-height: 20vh;
      .logo
      {
        width: 16vw;
      }
    }
  .signInContainer
  {
    min-height: 80vh
  }
}
}